python-can
python-can-candle
minimalmodbus
pymodbus==3.5.1
pyserial
dm_env
pexpect
pyquaternion
pyagxrobots
pycryptodome
ipython
h5py
PyYAML
tqdm
wandb
mediapipe
pyqt5
pyqtgraph
dm_control
uvicorn
tabulate